{
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:react/recommended",
        "plugin:cypress/recommended"
    ],
    "plugins": ["prettier", "react"],
    "rules": {
        "prettier/prettier": "error",
        "react/display-name": "off"
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "settings": {
        "react": {
            "version": "18.2.0"
        }
    },
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    }
}