@import "../../styles/main";

.table-responsive {
    overflow-x: auto;
  }

.table-responsive table {
    white-space: nowrap;
}

.tableboe {
    margin: 20px;
}

.pagetableboe-dateselector {
    margin-top: 30px;
}