@import "../../../styles/main";

.ls-ul {
    list-style-type: none;
    display: flex;
}

.li-block {
    margin: 0 10px;
}

.li-block a, .li-block a:visited {
    color: #000;
}

.li-clickable-block:hover, .li-clickable-block a:hover {
    color: #808080;
}
